<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :id => 'name_id' %>
  </div>
  <div class="field">
    <%= f.label :std %><br />
    <%= f.text_field :std %>
  </div>
  <div class="field">
    <%= f.label :mark %><br />
    <%= f.text_field :mark %>
  </div>

<div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status , :id => "status_id" %>
  </div>
  <div class="description" style="display:none">
    <%= f.label :description %><br />
    <%= f.text_field  :description %>
   </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
