<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Std:</b>
  <%= @student.std %>
</p>

<p>
  <b>Mark:</b>
  <%= @student.mark %>
</p>

<p>
 <b>Description:</b>
  <%= @student.description %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
